body{
    background-color: #ffffff;
    justify-content: center;
  }
  body p {
    color:#000000;
  }
  
  .header{
    color: #000000;
  }
  .featured-pokemon {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 20px; 
    margin: 20px; 
  }
  
  .pokemon-card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #f4f4f4; 
    border: 1px solid #ccc; 
    padding: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  }
  
  .pokemon-card img {
    width: 100%; 
    height: auto; 
    max-width: 150px; 
  }
  
  
  .pokemon-types ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: auto auto auto; 
    gap: 10px; 
    list-style: none; 
    padding: 0; 
  }
  
  .pokemon-types li {
    border: 1px solid #ccc; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px; 
  }
  
  .pokemon-types h2{
    color: #000000;
  }
  
  .pokemon-types img {
    width: 50px; 
    height: auto; 
  }
  
  .typestyle ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 16px;                        
    padding: 0;                            
    list-style-type: none;                 
}
.typestyle li {
  text-align: center;   
  padding: 8px;        
  border: 1px solid #ccc; 
}

.pokemon-type-list a {
  text-decoration: none;  
  color: #333;            
}



$normal-color: #dce1e6;
$fighting-color:#f0c3d0;
$flying-color: #dce4f4;
$poison-color: #e6caf2;
$ground-color:#f2c8b4;
$rock-color: #f7eed4;
$bug-color: #eaf4d3;
$ghost-color: #d0d9f4;
$steel-color: #d4edf7;
$fire-color: #f4d5bf;
$water-color: #cbe1f9;
$grass-color: #cdf9c8;
$electric-color: #f4eab8;
$psychic-color: #f2c2c4;
$ice-color: #d6f9f3;
$dragon-color: #c6dff4;
$dark-color: #d3cae3;
$fairy-color: #f9dbf6;
  .normal{
    background-color: $normal-color;
  }
  .fighting{
    background-color: $fighting-color;
  }
  .flying{
    background-color: $flying-color;
  }
  .poison{
    background-color: $poison-color;
  }
  .ground{
    background-color:$ground-color;
  }
  .rock {
    background-color: $rock-color;
  }
  
  .bug {
    background-color: $bug-color;
  }
  
  .ghost {
    background-color: $ghost-color;
  }
  
  .steel {
    background-color: $steel-color;
  }
  
  .fire {
    background-color: $fire-color;
  }
  
  .water {
    background-color: $water-color;
  }
  
  .grass {
    background-color: $grass-color;
  }
  
  .electric {
    background-color: $electric-color;
  }
  
  .psychic {
    background-color: $psychic-color;
  }
  
  .ice {
    background-color: $ice-color;
  }
  
  .dragon {
    background-color: $dragon-color;
  }
  
  .dark {
    background-color: $dark-color;
  }
  
  .fairy {
    background-color: $fairy-color;
  }
  
  .unknown,
  .shadow {
    visibility: hidden;
  }